@charset "utf-8";
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 초기화 */
body, ul, th, td, fieldset, input {margin: 0; padding: 0;}
a {text-decoration: none; color: black;}
li {list-style: none;}
.hidden {position: absolute; left: -9999px;}
/* fieldset 바깥의 border를 없앰 */
fieldset {border: 0;}
/* tabld 안쪽 셀과 바깥쪽 셀 사이의 여백을 없앰 */
table {border-collapse: collapse;}
/* main */
body {background: #fff7e6;}
#boardWrap {width: 800px; margin: 0 auto; background: #fff;}
/* table */
/* thead */
#table {
    font-family: 'twayair', sans-serif; text-align: center;
    width: 700px; margin: 0 auto;
}
#table caption {
    font-size: 40px; margin: 30px auto 20px;
}
#table th {
    font-weight: normal; text-transform: capitalize;
    background: linear-gradient(180deg, #373B44, #4c525e, #373B44);
    padding: 10px 0;
    color: #fff;
}
/* px 단위로 입력할 경우 table 총 너비인 700px을 맞춰준다. */
/* 각 첫번째 칸과 마지막 칸에 border-radius를 적용하면 둥근 모서리를 적용할 수 있다. */
#table th.no {width: 8%; border-radius: 20px 0 0 20px;}
#table th.title {width: 52%;}
#table th.writer {width: 15%;}
#table th.date {width: 15%;}
#table th.read {width: 10%; border-radius: 0 20px 20px 0;}
/* tbody */
#table tbody td {padding: 10px 0; border-bottom: 1px solid #373B44;}
/* title 열의 내용은 좌측 정렬 */
#table tbody td.listTitle {text-align: left;}
/* 
    - 2줄 이상은 ... 으로 표시
    블락 요소로 한다면 display: block; 은 빼고 나머지 4개는 필수로 적용!!
*/
#table tbody td a {
    display: block; width: 360px;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
#table tbody td a:hover {text-decoration: underline; color: #737373;}
/* Search */
/* input 이 인라인 요소이기 때문에 text-align으로도 정렬할 수 있다. */
#boardWrap form {text-align: right; margin: 20px 50px 20px 0;}
#boardWrap form input {border: 1px solid #000;}
#boardWrap #searchBox {width: 300px; height: 30px;}
/* outline: none; - focus 시 진해지는 border를 없애기 위함 */
#boardWrap #searchBox:focus {outline: none; background: #ffffb3;}
/*
    input 태그의 button 타입들은 높이를 입력시 border를 포함한 값으로 적용시키기 때문에
    text 타입과 동일한 높이를 주기위해서는 border 높이를 고려해서 적용시켜야한다.
*/
#boardWrap #searchBtn {width: 100px; height: 32px;}
#boardWrap #searchBtn:hover {background: #a6ffa6;}
#boardWrap #searchBtn:active {background: #00ff40;}
/* page move */
#pageMv {text-align: center; padding-bottom: 20px;}
#pageMv a {padding: 0 10px;}
#pageMv a:hover {text-decoration: underline; color: #00ff40;}