/* 태그, id stylesheet */
h1 {
    font-size: 40px;
}

/* padding 내부 여백, margin: 외부 여백 */
p {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}

#left {
    text-align: left;
}
#center {
    text-align: center;
}
#right {
    text-align: right;
}
/* justify 양쪽 정렬 */
#justify {
    text-align: justify;
}